@model IEnumerable<GameShop.DATA.EF.Product>

@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStatus.StatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    <img src="~/Content/assets/images/products/t_@item.ProductImage" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductStatus.StatusName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID })

                    @if (User.IsInRole("Admin"))
                    {
                        @:|
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID })
                        @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
